*{
    margin: 0;      padding: 0;
    box-sizing: border-box;
}

body{    background-color: #32184b;      }


.container {
    position: absolute;
    max-width: 37.5rem;
    width: 80vw;
    padding: 3rem 2.5rem;
    border-radius: .62em;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 0 1.25em 1.8em rgba(8, 21, 65, .25);
    transform: translate(-50%, -50%);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper button {
    font-size: 1em;
    background-color: #32184b;
    color: #fff;
    padding: .8em 0;
    border: 0;
    border-radius: 1.5em;
    cursor: pointer;
}

.search-wrapper button:hover{
    opacity: .9;
}

.search-wrapper input{
    font-size: 1em;
    color: #222a43;
    padding: 0 .62em;
    border: none;
    outline: none;
    border-bottom: 2px solid #32184b;
}


#result {       margin-top: 1.25em;    }

.result .country-img {
    display: block;
    width: 45%;
    min-width: 7.5em;
    margin: 1.8em auto 1.2em auto;
}

.container h2{
    font-weight: 600;
    color: #222a43;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.8em;
}

.data-wrapper {
    margin-bottom: 1em;
    letter-spacing: .3px;
}

.container h3 {  text-align: center;   }

.container h4 {
    display: inline;
    font-weight: 500;
    color: #222a43;
}

.container span {   color: #5d6274;    }





/*Mobile*/
@media screen and (max-width: 780px){
    .search-wrapper input,
    .search-wrapper button {
        font-size: .8em;
    }
}